body {font-family: 'Roboto', sans-serif;font-size: 1rem;background-color:aliceblue;margin: 0;padding: 0}
header {background-color:rgb(29, 107, 223); border-radius: 0px; width: 100%;text-align:center;margin: -10px auto 0 auto;padding: 0 }
main {margin: auto;margin-top: 20px;border:2px solid #fbfafa;padding: auto 20px;}
main .maingrid{ display: grid; grid-template-columns: 1fr;grid-template-rows: 1fr 1fr 1fr ;justify-content: center;text-align: center;margin:auto; }
.container {padding: 20px}
.listing {padding:20px}
header h1, header h2 {color: aliceblue;padding: 5px;max-width: fit-content;font-family: 'Bitter', serif;margin:10px auto; text-align: center}
h2, h3 {font-family: 'Bitter', serif;}
p a.backto {font-size: .8em; padding: 5px; background-color:rgb(29, 107, 223); color: aliceblue; border-radius: 4px; border:2px solid #fbfafa; max-width: 100px; text-decoration: none;}
main h3 {position:relative; margin: 20px 10px; font-size: 1.4em}
main .notes {padding: 30px}
ul {max-width: 90%;border-radius:4px;border:1px solid #bbb;list-style-type: none;margin: 20px;}
ol {max-width: 90%;border-radius:4px;border:1px solid #bbb;list-style-type: none;margin: 20px}
ul li, ol li{padding: 8px 20px;margin-left: -40px;}
ul li:nth-child(even), ol li:nth-child(even){background-color: #fbfafa;color: black}
ul li:nth-child(odd), ol li:nth-child(odd){background-color: #e3e8f1;}
li a:link, a:visited, li a:link {color: black; text-decoration: none; text-transform: capitalize;}
ul li:hover, a.backto:hover, a:visited:hover {color: green; background-color: rgb(163, 202, 188);}
ul li:hover, ol li:hover, a.backto:hover {color: rgb(28, 51, 28); background-color: rgb(163, 202, 188);}
ul li a:link:hover, ol li a:link:hover {color: rgb(29, 107, 223); }
footer {background-color:rgb(29, 107, 223);color: aliceblue;padding: 20px;position:fixed; bottom: 0;width: 100%;text-align: center;margin:40px auto 0 auto;}

@media screen and (max-width: 5em) {
    header h1 {font-size: 1.3em}
    header h2 {font-size: 1.1em}
}