* {
    box-sizing: border-box;
}

body {
    margin: auto;
    text-align:center;
    font-size: 1.1em;
    font-family: 'Roboto Flex', sans-serif;
}
h1 {
    background-color: cornflowerblue;
    font-size: 1.3em;
    color: white;
    padding: 10px;
    margin-top: 0;
    width: 100%;
}
main {
    justify-content: center;
    background-color:rgb(88, 86, 86)

}
.container {
    justify-content: center;
    min-width: 250px;
    min-height: 320px;
    align-content: center;
    margin: auto;
    max-width: 500px;
}

.todo {
    display:flex;
    align-items: center;
    width: 100%;
    border: 0px solid red;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px 8px;
}

footer {
    background-color: cornflowerblue;
    font-size: 1.3em;
    color: white;
    padding: 10px;
    margin-bottom: 0;
}

.todos-wrapper {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(auto, 40px);

}
#todos div {
   grid-column: auto;
   grid-row: auto;
   cursor: pointer;
   position: relative;
   display: flex;
   flex-direction: row;
   list-style-type: none;
   font-size: 1em;
   transition: .2s;
   background-color: #333;
   width: 100%;
   border-top: 1px solid rgb(129, 128, 128);
   border-bottom: 1px solid #000;
}

/*#todos div:hover {
   background: rgb(216, 234, 157);
   color: #333;
} */

.add-todo-wrapper {
    height: 100%;
    display: flex;
}

.todo-delete-btn {
    width: 30px;
    height: 40px;
    color: rgb(246, 113, 73);
    font-weight: 600;
    align-self: flex-end;
    background-color: #333;
}

.complete-btn {
    width: 30px;
    height: 40px;
    padding-right: 5px;
    align-self: flex-start;
    background-color: #333;
    color: rgb(236, 85, 15);
}

.complete-btn:hover {
  background-color: rgb(161, 147, 132);
  color:rgb(15, 236, 15);
  font-size: larger;
}

.todo-content{
    height: 40px;
    min-width: 250px;
    max-width: 100%;
    padding: 10px;
    font-size: 1.1em;
    text-align: left;
    background-color: #333;
    color: aliceblue;
}
.completed {
    text-decoration: line-through;
    color: rgb(15, 236, 15);
}
.todo-delete-btn:hover {
   background: rgb(216, 234, 157);
   color: #333;
}

#allFilter, #activeFilter,#completedFilter {
  background: rgb(123, 185, 29);
  color: aliceblue;
  padding: 10px 10px;
  font-size: 1.1em;
  height: 40px;
}

#allFilter:hover, #activeFilter:hover,#completedFilter:hover {
  background: rgb(216, 234, 157);
  color: #333;
}

#addBtn {
    padding: 5px 5px;
    min-width: 70px;
    font-size: 1.1em;
    background-color: rgb(245, 138, 62);
    color: black;
    float: left;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    border-radius: 0 4px 4px 0;
    border:2px solid #333;
    border-left: 1px solid #333;
    height: 50px;
    margin: 5px 0;
}

#addbtn:hover {
    background-color: rgb(245, 138, 62);
    color: black;
}

input#todoInput {
    padding: 5px;
    width: 75%;
    min-width: 220px;
    height: 50px;
    float: left;
    border: 2px solid #333;
    border-radius: 4px 0 0 4px;
    margin: 5px 0;
}
input#todoInput:hover {box-shadow:2px 2px 4px 2px rgb(243, 99, 99);}

.todo-filters {margin: 10px auto;}
.todo-filters::after{
    clear:both;
}
footer:before {
    clear:both;
}