/* family=Lato:ital,wght@0,300;0,400;1,300&family=Open+Sans:wght@300;400 */
body {
   font-size: 1em;
   font-weight: 300;
   font-family: 'Open Sans', sans-serif;
}
* {
    box-sizing: border-box;
}
h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
}
h1 {
    font-size: 1.4em;
    font-weight: 300;
}
h2 {
    font-size: 1.2em;
    font-weight: 300
}
h3 {
    font-size: 1.1em;
    font-weight: 400;
}
h4 {
    font-size: .8em;
}

form #preferences {
  width: 250px;
}