body {font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: auto;
    background-color:rgb(227, 229, 245)
}
main {
  display: flex;
  flex-flow: column wrap;
}
main h2 {
    font-size: 1.2em;
    padding: 5px;
    justify-content: center;
    margin: auto;
}
.btn-wrapper {
    justify-content: center;
    margin: 20px auto;
    padding: 10px;
}

.btn-wrapper a.btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(57, 73, 140);
    color:rgb(234, 237, 242);
    border-radius: 4px;
    border: 1px solid rgb(81, 88, 234);
}
.btn-wrapper a.btn:hover {
    background-color:cornflowerblue;
}
.hidden {
    display:none;
}
.wrapper {
    display:flex;
    flex-flow: row;
    padding: 20px;
    margin: auto;
    justify-content: center;

}

#shiplist {
    flex: auto;
    width: 320px;
    margin:auto;
    justify-content: center;
}

#displaybox h2 {
    font-size: 1.2em;
    font-weight: bolder;
    padding: 5px 10px;
    text-decoration-line: none;
    background-color:rgb(95, 111, 137);
    color: rgb(227, 229, 245);
    }

#shiplist table {
    border:2px solid #333;
    width: 320px;
    border-collapse: collapse;
}
#shiplist th {
    text-align: left;
    font-weight: bolder;
    padding: 5px 10px;
    text-decoration: none;
}
#shiplist td {
    cursor: pointer;
    padding: 5px 10px;
    font-size: .9em;
}

#detailsbox {
    position: absolute;
    top: 70px;
    flex: 1 0 15em;
    background-color:rgb(95, 111, 137);
    border:1px solid #333;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    width: 320px;
    font-size: 1em;

}
#detailsbox dl{
    display:flex;
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: aliceblue;
}
#detailsbox dt{
    flex: auto;
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    background-color: rgb(203, 204, 205);
    color: black;
}

#detailsbox dd{
    flex: auto;
  text-align: left;
  font-size: 1em;
  padding: 5px 10px;
  background-color: aliceblue;
}
#shiplist thead{
    background-color: aliceblue;
    padding: 5px 10px;
}
#shiplist tr {
    border: 1px solid #ccc;
    padding: .5em;
    height: 44px;
}
#shiplist tr:nth-child(even){
    background-color: azure;
}
#shiplist tr:nth-child(odd){
    background-color: rgb(154, 204, 243);
}
#shiplist tr:hover {
    background-color: bisque;
    text-decoration: underline;
}
#shiplist tr th {
    background-color:rgb(95, 111, 137);
    color: rgb(227, 229, 245);
}

@media only screen and (max-width: 480px) {
  .wrapper {
    display:flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
    justify-content: center;
  }
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  border: 1px solid #000;
  border-radius: 8px;
}
.slide-in {
  animation: slide-in 1s ease;
}
@keyframes slide-in {
  25% {
    transform: scale(0.8);
  }
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 25% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
button.myBtn{
   padding: 5px;
   background-color:rgb(5, 150, 39);
}