/* family=Lato:ital,wght@0,300;0,400;1,300&family=Open+Sans:wght@300;400 */
body {
  padding:0;
  margin: 0;
   font-size: 1em;
   font-weight: 300;
   font-family: 'Open Sans', sans-serif;
}
* {
    box-sizing: border-box;
}
h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
}
h1 {
    font-size: 1.5em;
    font-weight: 400;
}
h2 {
    font-size: 1.4em;
    font-weight: 300
}
h3 {
    font-size: 1.1em;
    font-weight: 400;
}
h4 {
    font-size: .9em;
}

form #preferences {
  width: 250px;
}
header{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 0px solid rgb(162, 183, 138);
   max-width: 100%;
   min-height: 45px;
   background-color: rgb(202, 243, 180);
}
picture {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  opacity: .8;
}
h1{
  font-size: 1.7rem;
  font-family: sans-serif;
  letter-spacing: 1.2pt;
}
/* responsive menu  */
.brand {
  float: left;
  padding-left: 70px;
  font-size: 1.5rem;
  letter-spacing: .02em;
  font-weight: 400;
  color: rgb(190, 23, 159);
}
.logo img {
  margin: 0 .25rem 0 1rem;
  width: 64px;
  height: auto;
}
.hamburger {
  text-decoration: none;
  font-size: 1.5rem
}

nav {
  height: 40px;
  margin: 1rem;
  flex: 1 1 50%;
  position: relative;
  text-align: right;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50px;
  right: 0;
  overflow: hidden;

}
.navigation {
  top: 0px;
  right: -20px;
  transition: all 1s ease-in;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  color: navy;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.navigation a:hover {
  color: rgb(174, 245, 146);
  font-weight: 700;
  text-decoration: none;
  background-color:rgb(161, 230, 124);
  color:rgb(34, 29, 29);
  border-radius: 4px 4px;
}

.navigation a.nohover:hover {
  text-decoration: none;
}

.responsive li {
  display: block;
  width: 150px;
  border-bottom:1px solid rgb(176, 209, 176);
}

.responsive a {
  font-size: 1rem
}

.responsive {
  position: absolute;
  top: 25px;
  right: 0;
  background-color: rgb(202, 243, 180);
  box-shadow: 0 0 12px #333;
  border: 1px solid green;
  border-radius: 8px 8px 8px 8px;
}

.responsive a, .responsive a:visited {
  color: rgb(56, 58, 55);
}

@media only screen and (min-width: 760px) {

.hamburger {
    display: none;
}

.navigation {
  display: flex
}

.navigation li {
  display: block;
  flex: 1 1 100%;
}

.navigation a {
  text-align: center;
}

.navigation li:first-child {
  display:none;
}
}
/* HTML Selectors */
#flowerquote{
  margin: 20px auto 10px auto;
  width: 90%;
  max-width: 90%;
  background-color: rgba(255, 192, 203,.6);
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
#flowerquote p{
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  border-radius: 4px;
}
.zoom-effect-container {
  position: relative;
  width: 100%;
  max-height: 800px;
  margin: 0 auto;
  overflow: hidden
}

#flowers article  {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border: 2px solid rgb(241, 239, 239);
    border-radius: 8px 8px 8px 8px;
    padding: 0;
    margin: 0;

}
#flowers article:hover {
   box-shadow: 1px 2px 15px rgba(97, 96, 96, 0.3)
}
article img {
    margin:0;
    padding: -20px;
    align-self: stretch;
    min-width: 100%;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    /* transition: all .6s ease-in-out;
    scale: cubic-bezier(1, 0, 0, 1); */
    border-radius: 8px 8px 0px 0px;
    padding: 0px;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
    -webkit-transition: .4s ease;
    transition: .4s ease;
}
.zoom-effect-container:hover .article img{
  -webkit-transform: scale(1.08);
  transform: scale(1.25%);
}
article h4 {font-size: 1.4em;font-weight: bold;margin:2px;padding: 10px 0 5px 20px}
article p {padding: 0px 20px;margin:0;font-weight: 400}
.fade-in-img {
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  100% {opacity: 1;}
  20% {opacity: .2;}
}


#flowers {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.suggestion-filters {
  text-align: left;
  font-size: .9em;
}
.suggestion-filters button {
   margin: 10px;
}
/* Media Queries */
@media only screen and (min-width: 32.5em) {

    #flowers {
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin: 5px;
    }
}


@media only screen and (min-width: 38em) {
    #flowers {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (min-width: 64em) {
    #flowers {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (min-width: 72em) {
    #flowers {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.btnFacts {
  background-color: rgb(199, 239, 199);
  color:rgb(48, 48, 29);
  padding: 0px 5px;
  text-decoration-line: none;
  max-width: 8rem;
  font-size: .9em;
  font-weight: 400;
  border: 1px solid rgb(199, 239, 199);
  border-radius: 4px;
  text-align: center;
  padding: 5px;
  margin: 5px 10px ;

}
.btnFacts:hover {
  background-color: rgb(240, 239, 139);
  color:rgb(12, 12, 11);
  box-shadow:1px 2px 8px rgb(157, 162, 155);
  transition: margin-right 3s ease-in-out;
  transition-duration: 2s;
  transition-property: margin-right, color;
  }
.blowup {
  display: block;
  position: absolute;
  object-fit: contain;
  object-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}

.darken {
  opacity: 0.4;
}
#container-suggestions {
  max-width: 400px;
  text-align: center;
  margin: 20px;
  display: flex;
  flex-flow:column;
  padding: 2vw;
  padding: 2vh 4vh;
  background-color: rgba(255, 192, 203,.4);
  border: 1px solid pink;
  border-radius: 4px;
}
.suggestion {
    display:flex;
    align-items: center;
    max-width: 310px;
    border: 0px solid red;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px 8px;
}
.suggestions-wrapper {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(auto, 25px);

}
#suggestions div {
   grid-column: auto;
   grid-row: auto;
   cursor: pointer;
   position: relative;
   display: flex;
   flex-direction: row;
   list-style-type: none;
   font-size: 1em;
   transition: .2s;
   background-color:  rgb(254, 254, 254);
   width: 100%;
   border-top: 0px solid rgb(190, 136, 190);
   border-bottom: 1px solid rgb(198, 146, 189);
}

#suggestions div:focus {
   color: #333;
   border: 1px solid rgb(154, 35, 124)
}

.add-suggestion-wrapper {
    height: 100%;
    display: flex;
}

.suggestion-delete-btn {
    width: 30px;
    height: 40px;
    color: rgb(106, 8, 113);
    font-weight: 600;
    align-self: flex-end;
    background-color:  rgba(249, 157, 219, 0.7);
    border:1px solid rgba(198, 59, 156);
}

.complete-btn {
    width: 30px;
    height: 40px;
    padding-right: 5px;
    align-self: flex-start;
    background-color:  rgba(249, 157, 219, 0.7);
    color: rgb(106, 8, 113);
    border:1px solid rgba(198, 59, 156);
}

.complete-btn:hover {
  background-color:  rgb(244, 89, 205);;
  color:rgb(15, 236, 15);
  font-size: larger;
}

.suggestion-content{
    height: 40px;
    min-width: 250px;
    /* max-width: 100%; */
    padding: 10px;
    margin: 0 3px;
    font-size: 1.1em;
    text-align: left;
    background-color: rgb(255, 253, 255);
    color: rgb(72, 8, 65);
}
.completed {
    text-decoration: line-through;
    animation: fadeIn 5s;
    color: rgb(67, 15, 67);
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% { opacity: 1;}
}
.suggestion-delete-btn:hover {
   background: rgb(244, 89, 205);
   color:  rgb(67, 15, 67);
}

#allFilter, #activeFilter,#completedFilter {
  background:  rgb(199, 239, 199);
  color: rgb(68, 101, 58);
  padding: 10px 10px;
  font-size: 1.1em;
  height: 40px;
  border: 1px solid rgb(140, 245, 140);
  border-radius: 4px;
}

#allFilter:hover, #activeFilter:hover,#completedFilter:hover {
  background: rgb(200, 242, 63);
  color: #333;
}

#addBtn {
    padding: 5px 5px;
    min-width: 50px;
    font-size: 1.1em;
    background-color: rgb(247, 74, 229);
    color: rgb(249, 236, 247);
    float: left;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    border-radius: 0 4px 4px 0;
    border:1px solid rgb(248, 142, 243);
    border-left: 1px solid rgb(248, 142, 243);
    height: 40px;
    margin: 5px 0;
}

#addbtn:hover {
    background-color: rgb(246, 183, 231);
    color: black;
}

input#suggestionInput {
    padding: 5px;
    width: 75%;
    min-width: 220px;
    height: 40px;
    float: left;
    border: 1px solid rgb(252, 106, 230);
    border-radius: 4px 0 0 4px;
    margin: 5px 0;
}
input#suggestionInput:hover {border: 1px solid rgb(252, 106, 230);box-shadow:2px 5px 4px 2px rgb(242, 184, 236);}

.suggestion-filters {margin: 10px auto;}
.suggestion-filters::after{
    clear:both;
}
footer:before {
    clear:both;
}

/* **************************** form ********************** */

form#emailus {
   text-align: left;

}

form#emailus button {
  padding: 5px; margin: 5px;
  background-color:rgb(246, 146, 221);
  border: 1px solid rgb(111, 29, 105);
  border-radius: 4px;
}